In [42]:
import time
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels
import matplotlib.pyplot as plt

# Pandas

In [43]:
# creando un pandas Series 
arreglo = np.random.randn(10)
serie = pd.Series(arreglo)
print(serie)

# agregando indices a una serie
serie = pd.Series(arreglo, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(serie)

print(serie['f'])
print(serie[['a', 'b', 'c']])

0   -1.003989
1    0.389975
2   -1.044219
3   -0.558615
4   -2.744782
5   -1.406027
6    0.092558
7   -0.174216
8    0.483168
9   -0.951754
dtype: float64
a   -1.003989
b    0.389975
c   -1.044219
d   -0.558615
e   -2.744782
f   -1.406027
g    0.092558
h   -0.174216
i    0.483168
j   -0.951754
dtype: float64
-1.4060268669606348
a   -1.003989
b    0.389975
c   -1.044219
dtype: float64

In [44]:
# serie con llave/valor
serie = pd.Series({'dia1': 34, 'dia2': 36, 'dia3': 43, 'dia4': 45, 'dia5': 55})
print(serie)

muestra_serie = serie[['dia1','dia3','dia5']]
print(muestra_serie)

dia1    34
dia2    36
dia3    43
dia4    45
dia5    55
dtype: int64
dia1    34
dia3    43
dia5    55
dtype: int64

In [45]:
# creando un dataframe
datos = {
    "ventas": [31,89,23,94,87],
    "fecha": ["02/08/2022", "03/08/2022", "04/08/2022", "05/08/2022", "06/08/2022"]
    }

datos_df = pd.DataFrame(datos)

print(datos_df)

# viendo una ubicacion especifica
print(datos_df.loc[0])
print(datos_df.loc[2:4])
print(datos_df.loc[[0,2,4]])


# agregando indices a los datos
datos_df = pd.DataFrame(datos, index=['dia1', 'dia2', 'dia3', 'dia4', 'dia5'])
print(datos_df)

# viendo un elemento especifico
print(datos_df.loc['dia4'])

   ventas       fecha
0      31  02/08/2022
1      89  03/08/2022
2      23  04/08/2022
3      94  05/08/2022
4      87  06/08/2022
ventas            31
fecha     02/08/2022
Name: 0, dtype: object
   ventas       fecha
2      23  04/08/2022
3      94  05/08/2022
4      87  06/08/2022
   ventas       fecha
0      31  02/08/2022
2      23  04/08/2022
4      87  06/08/2022
      ventas       fecha
dia1      31  02/08/2022
dia2      89  03/08/2022
dia3      23  04/08/2022
dia4      94  05/08/2022
dia5      87  06/08/2022
ventas            94
fecha     05/08/2022
Name: dia4, dtype: object

In [46]:
# cargando archivos csv
datos_df = pd.read_csv('data.csv')
#print(datos_df)

pd.options.display.max_rows=160

datos_df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [47]:
# Cargando json
datos_df = pd.read_json('data.json')
datos_df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [48]:
# viendo los primeros 10 datos
print(datos_df.head(10))

# viendo los ultimos 10 datos
print(datos_df.tail(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [49]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB